h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: 'Montserrat';
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 9px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 600;
}

.titleimg {
  width: 100%
}

#features {
  text-align: center;
  padding: 7% 15% 1% 15%;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172 !important;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
